resources/IBaatukaay_axi-bam-fra-ful-srr-wol/ibaatukaay_wol_axi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="volume">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="article"/>
      </xs:sequence>
      <xs:attribute name="creation-date" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bloc_forme"/>
        <xs:element ref="catégorie_grammaticale"/>
        <xs:element ref="classe_nominale"/>
        <xs:element ref="bloc_sens"/>
        <xs:element ref="sources"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bloc_forme">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mot_vedette"/>
        <xs:element ref="source_mot_vedette"/>
        <xs:element ref="lexème_source"/>
        <xs:element maxOccurs="unbounded" ref="variante"/>
        <xs:element ref="prononciation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mot_vedette" type="xs:string"/>
  <xs:element name="source_mot_vedette">
    <xs:complexType/>
  </xs:element>
  <xs:element name="lexème_source" type="xs:string"/>
  <xs:element name="variante" type="xs:string"/>
  <xs:element name="prononciation" type="xs:string"/>
  <xs:element name="catégorie_grammaticale" type="xs:string"/>
  <xs:element name="classe_nominale" type="xs:string"/>
  <xs:element name="bloc_sens">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="sens"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sens">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="définition"/>
        <xs:element ref="source_définition"/>
        <xs:element ref="bloc_traduction"/>
        <xs:element ref="exemples"/>
        <xs:element maxOccurs="unbounded" ref="synonyme"/>
        <xs:element maxOccurs="unbounded" ref="homonyme"/>
        <xs:element ref="note_usage"/>
        <xs:element ref="bloc_dérivés"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="définition" type="xs:string"/>
  <xs:element name="source_définition" type="xs:string"/>
  <xs:element name="bloc_traduction">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="traduction_française"/>
          <xs:element ref="catégorie_grammaticale_traduction_française_mot_vedette"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="lien_traduction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traduction_française">
    <xs:complexType/>
  </xs:element>
  <xs:element name="catégorie_grammaticale_traduction_française_mot_vedette">
    <xs:complexType/>
  </xs:element>
  <xs:element name="lien_traduction">
    <xs:complexType>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="lang" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="volume" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="exemples">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="exemple"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exemple">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="exemple-wol"/>
        <xs:element maxOccurs="unbounded" ref="exemple-fra"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exemple-wol" type="xs:string"/>
  <xs:element name="exemple-fra" type="xs:string"/>
  <xs:element name="synonyme" type="xs:string"/>
  <xs:element name="homonyme" type="xs:string"/>
  <xs:element name="note_usage" type="xs:string"/>
  <xs:element name="bloc_dérivés">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="expression_dérivée"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="expression_dérivée" type="xs:string"/>
  <xs:element name="sources">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entree-source"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entree-source">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="dog"/>
        <xs:element ref="lexGroup"/>
      </xs:choice>
      <xs:attribute name="provenance" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mbirmi"/>
        <xs:element minOccurs="0" ref="maas"/>
        <xs:element ref="tëggin"/>
        <xs:element minOccurs="0" ref="xeet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cosaan"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="weneen_waxin"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sayu_tekki"/>
      </xs:sequence>
      <xs:attribute name="mandarga" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mbirmi" type="xs:string"/>
  <xs:element name="weneen_waxin">
    <xs:complexType mixed="true">
      <xs:attribute name="jokkukaay" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sayu_tekki">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="cosaan"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tool"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tekki"/>
        <xs:element minOccurs="0" ref="safaan"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="misaal"/>
        <xs:choice minOccurs="0">
          <xs:element ref="léebu"/>
          <xs:element ref="bokk_tekki"/>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="guddalinu_méngale"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="moomeelu_làkk"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xolal"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="mandarga" use="required" type="xs:NCName"/>
      <xs:attribute name="waxin" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tool">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nettali"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="safaan">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="jokkukaay" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bokk_tekki">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="jokkukaay" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="guddalinu_méngale">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="bind">
          <xs:sequence>
            <xs:element minOccurs="0" ref="maas"/>
            <xs:element minOccurs="0" ref="tëggin"/>
            <xs:element minOccurs="0" ref="xeet"/>
            <xs:element minOccurs="0" ref="tekki"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="misaal"/>
          </xs:sequence>
          <xs:attribute name="mandarga" use="required" type="xs:NCName"/>
          <xs:attribute name="nimuwarlo"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="moomeelu_làkk">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="bind">
          <xs:sequence>
            <xs:choice minOccurs="0">
              <xs:element ref="tekki"/>
              <xs:element ref="xeet"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="misaal"/>
            <xs:element minOccurs="0" ref="léebu"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xolal">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="jokkukaay" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lexGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="lex"/>
        <xs:element minOccurs="0" ref="uttW"/>
        <xs:element minOccurs="0" ref="catWGroup"/>
        <xs:element minOccurs="0" ref="nusW"/>
        <xs:element minOccurs="0" ref="srcLW"/>
        <xs:element minOccurs="0" ref="srcDW"/>
        <xs:element minOccurs="0" ref="clasW"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="defWGroup"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="homW"/>
          <xs:element ref="synW"/>
          <xs:element ref="varW"/>
        </xs:choice>
        <xs:choice>
          <xs:element ref="lexSrcW"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="exDerWGroup"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tradFlexGroup"/>
        <xs:element minOccurs="0" ref="fsPhrW"/>
        <xs:element minOccurs="0" ref="catF"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrWGroup"/>
        <xs:element minOccurs="0" ref="stat"/>
        <xs:element minOccurs="0" ref="tradPhrW"/>
        <xs:element minOccurs="0" ref="aut"/>
        <xs:element minOccurs="0" ref="cmt"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="autStat"/>
        <xs:element minOccurs="0" ref="dat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lex" type="xs:string"/>
  <xs:element name="uttW" type="xs:string"/>
  <xs:element name="catWGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="catW"/>
        <xs:element minOccurs="0" ref="clasW"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="catW" type="xs:string"/>
  <xs:element name="nusW" type="xs:string"/>
  <xs:element name="srcLW" type="xs:string"/>
  <xs:element name="defWGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="defW"/>
        <xs:element minOccurs="0" ref="srcDW"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="defW" type="xs:string"/>
  <xs:element name="homW" type="xs:string"/>
  <xs:element name="synW" type="xs:string"/>
  <xs:element name="varW" type="xs:string"/>
  <xs:element name="exDerWGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="exDerW"/>
        <xs:element minOccurs="0" ref="lexSrcW"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exDerW" type="xs:string"/>
  <xs:element name="tradFlexGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tradFlex"/>
        <xs:element minOccurs="0" ref="catF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tradFlex" type="xs:string"/>
  <xs:element name="phrWGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="phrW"/>
        <xs:choice>
          <xs:element ref="fsPhrW"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tradPhrW"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phrW" type="xs:string"/>
  <xs:element name="stat" type="xs:NCName"/>
  <xs:element name="aut" type="xs:NCName"/>
  <xs:element name="cmt" type="xs:string"/>
  <xs:element name="autStat" type="xs:NCName"/>
  <xs:element name="dat" type="xs:string"/>
  <xs:element name="maas" type="xs:string"/>
  <xs:element name="tëggin" type="xs:string"/>
  <xs:element name="xeet">
    <xs:complexType mixed="true">
      <xs:attribute name="gàttal" use="required"/>
      <xs:attribute name="jëfandiko"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cosaan" type="xs:NCName"/>
  <xs:element name="nettali">
    <xs:complexType mixed="true">
      <xs:attribute name="làkk" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tekki">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nettali"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="misaal">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="nettali"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="léebu" type="bind"/>
  <xs:complexType name="bind">
    <xs:sequence>
      <xs:element ref="bind"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bind" type="xs:string"/>
  <xs:element name="clasW" type="xs:string"/>
  <xs:element name="srcDW" type="xs:string"/>
  <xs:element name="lexSrcW" type="xs:string"/>
  <xs:element name="catF" type="xs:string"/>
  <xs:element name="fsPhrW" type="xs:string"/>
  <xs:element name="tradPhrW" type="xs:string"/>
</xs:schema>
